* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 68px;
}

/* The Modal (background) */
#popupMsg {
  color: #444444;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.modal,
.errModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.modal .markImg,
.errModal .markImg {
  width: 120px;
  height: 120px;
  margin: 10px auto;
}
.modal .markImg img,
.errModal .markImg img {
  width: 100%;
  height: 100%;
}
.modal .sucsTitle,
.errModal .sucsTitle {
  color: #2980b9;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  margin: 20px 0;
}
.modal .errTitle,
.errModal .errTitle {
  color: rgb(216, 35, 35);
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  margin: 20px 0;
}
.modal button,
.errModal button {
  background-color: #008cba;
  padding: 8px 30px;
  border-radius: 24px;
  border: none;
  color: white;
  font-size: 17px;
  margin-top: 20px;
  transition: background 0.5s;
  cursor: pointer;
}
.modal button:hover,
.modal .cancel_btn:hover,
.errModal button:hover,
.errModal .cancel_btn:hover {
  opacity: 0.7;
}
.modal .cancel_btn,
.errModal .cancel_btn {
  background-color: rgb(216, 35, 35);
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
  .modal-content {
    width: 55%;
    margin: 20%;
  }
}
@media screen and (max-width: 760px) {
  .modal-content {
    width: 70%;
    margin: 20%;
  }
}
.name {
  color: #f1f2f6;
  font-size: 80px;
}

.currier {
  font-family: Dosis, sans-serif;
}

.color {
  color: #2980b9;
}

.color-gray {
  color: #444444;
}

section {
  padding: 70px 0;
}

.subHead {
  font-size: 25px;
}

.subHead::after {
  content: "";
  height: 2px;
  width: 30px;
  margin: 7px 0;
  display: block;
  background-color: #2980b9;
  border-radius: 20px;
}

.liking {
  color: #008cba;
  font-weight: bold;
}

.input-control input {
  border: 1px solid #aba7a7;
}

.input-control textarea {
  border: 1px solid #aba7a7;
}

.input-control .error {
  color: #ff3860;
}

.input-control input,
textarea {
  color: black;
}

.input-control input:focus,
textarea:focus {
  outline: none;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.success .error {
  color: #09c372;
}

.input-control.success textarea {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control.error textarea {
  border-color: #ff3860;
}

.btn-subs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 35px;
  width: 100%;
  border: none;
  padding: 0 30px;
  color: white;
  background-color: #2980b9;
  cursor: pointer;
  transform: all 0.3s;
}

.btn-subs:hover {
  background-color: #137191;
}

.button--loading::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  bottom: 0;
  margin-right: 5px;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: btn-loader 1s ease infinite;
  z-index: 3;
}

@keyframes btn-loader {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
img[alt] {
  text-indent: -10000px;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.skeleton-text {
  width: 100%;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-head {
  width: 80%;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton_subhead {
  width: 20%;
  margin-right: 10px;
}

.skeleton-text__body {
  width: 100%;
}

.skeleton-text__body:last-child {
  width: 70%;
}

.skeleton-footer {
  width: 30%;
  height: 2rem;
}

body {
  background-color: #f1f2f6;
}

.navbars {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
}
.navbars .cont {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 1500px) {
  .navbars .cont {
    width: 1100px;
  }
}
.navbars .log {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 150px;
}
.navbars .log img {
  width: 40px;
}
.navbars .log .log-name {
  font-weight: bold;
  color: #212529;
  font-size: 25px;
}
.navbars .log .log-name a {
  color: #212529;
  text-decoration: none;
}
.navbars .links ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.navbars .links ul li {
  margin: 10px;
}
.navbars .links ul a {
  color: #212529;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s;
}
.navbars .links ul a:hover {
  font-weight: 500;
}
.navbars .links {
  float: right;
  display: flex;
}
.navbars .userImg {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.navbars .userImg img {
  width: 100%;
  height: 100%;
}
.navbars .accountBlock {
  display: none;
  margin-top: 10px;
  position: absolute;
  right: 0;
  width: 200px;
  text-align: center;
  background-color: #f1f2f6;
}
.navbars .accountBlock ul {
  display: flex;
  flex-direction: column;
  align-items: unset;
  transition: all 0.5s;
}
.navbars .accountBlock ul li {
  padding: 10px 0;
  margin: 0;
}
.navbars .accountBlock ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
}
.navbars .accountBlock ul li:hover {
  background-color: #bbbdc6;
}
.navbars .loginBox {
  display: none;
  margin-top: 20px;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  width: 250px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  background-color: #f1f2f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbars .loginBox .userData {
  border-bottom: 1px solid gray;
  padding: 5px 0 8px 0;
}
.navbars .loginBox .other-settings div {
  cursor: pointer;
  margin: 3px 0;
  font-size: 16px;
}
.navbars .loginBox .other-settings div a {
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.navbars .loginBox .other-settings div i {
  margin-right: 10px;
}
.navbars .loginBox .other-settings div .logoutBtn {
  cursor: pointer;
}
.navbars .loginBox .other-settings div:hover {
  font-weight: bold;
}
.navbars .show {
  display: block;
}
.navbars .hide {
  display: none;
}
.navbars .menu {
  border: 1px solid #343a40;
  border-radius: 4px;
  padding: 5px 5px 0px 5px;
  position: absolute;
  right: 20px;
  margin: 5px 0;
  display: none;
  cursor: pointer;
}
.navbars .menu i {
  color: #212529;
  font-size: 30px;
}
@media screen and (max-width: 800px) {
  .navbars .cont {
    flex-direction: column;
    padding: 15px 0;
  }
  .navbars .userAccount {
    margin-left: 15px;
  }
  .navbars .accountBlock {
    left: 0;
  }
  .navbars .links {
    flex-direction: column;
  }
  .navbars .links ul li a {
    display: block;
    width: 100%;
    padding: 7px 20px;
    text-decoration: none;
  }
  .navbars .menu {
    display: block;
  }
  .navbars .search:hover {
    width: 100%;
  }
  .navbars ::after {
    content: "";
    display: table;
    clear: both;
  }
  .navbars .userAccount {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .navbars .links ul {
    display: none;
  }
  .navbars .links .search {
    display: none;
  }
  .navbars .links.resp ul {
    display: block;
  }
  .navbars .links.resp {
    display: block;
  }
}

.profActive {
  background-color: lightgray;
}

.userProfile {
  position: fixed;
  top: 55%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 80%;
  margin: 13px auto;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 80vh;
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
  z-index: 20;
}
.userProfile .closeProf {
  position: absolute;
  top: 25px;
  right: 15px;
  color: white;
  background-color: #0b112f;
  width: 20px;
  height: 20px;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}
.userProfile .tabContent {
  display: none;
}
.userProfile .leftProf {
  position: fixed;
  border-right: 1px solid rgb(161, 156, 156);
  width: 20%;
  height: 100%;
  padding: 30px;
  background-color: white;
}
.userProfile .leftProf .profMenuClose {
  display: none;
}
.userProfile .leftProf .personalProf {
  margin-top: 30px;
}
.userProfile .leftProf span {
  color: rgb(121, 115, 115);
  font-weight: 500;
}
.userProfile .leftProf .tab-link {
  margin: 5px 2px;
}
.userProfile .leftProf .tab-link button {
  text-decoration: none;
  color: #000;
  padding: 6px 15px;
  border-radius: 8px;
  display: block;
  width: 100%;
  text-align: left;
}
.userProfile .leftProf .tab-link button:hover {
  background-color: lightgray;
}
.userProfile .rightProf {
  margin-left: 20%;
  width: 80%;
  height: 100%;
  padding: 50px;
  background-color: #f1f2f6;
}
.userProfile .rightProf .profMenuBar {
  display: none;
}
.userProfile .rightProf h1 {
  font-size: 28px;
}
.userProfile .rightProf .persImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px 0;
}
.userProfile .rightProf .persImg img {
  width: 100%;
  height: 100%;
}
.userProfile .rightProf .persForm {
  width: 50%;
}
.userProfile .rightProf .persForm label {
  margin: 10px 0;
}
.userProfile .rightProf .persForm input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid lightgray;
}
.userProfile .rightProf .persForm .saveBtn {
  width: 100px;
}
@media screen and (max-width: 800px) {
  .userProfile .rightProf .persForm {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .userProfile .rightProf .persForm {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .userProfile .leftProf {
    width: 30%;
  }
  .userProfile .rightProf {
    width: 70%;
    margin-left: 30%;
  }
}
@media screen and (max-width: 900px) {
  .userProfile .leftProf {
    margin-left: -50%;
  }
  .userProfile .leftProf .profMenuClose {
    display: flex;
    justify-content: end;
    cursor: pointer;
  }
  .userProfile .leftProf .profMenuClose i {
    font-size: 25px;
  }
  .userProfile .rightProf {
    width: 100%;
    margin-left: 0;
  }
  .userProfile .rightProf .profMenuBar {
    display: block;
    margin-bottom: 10px;
    margin-top: -20px;
    cursor: pointer;
  }
  .userProfile .rightProf .profMenuBar i {
    font-size: 25px;
  }
}

@media screen and (max-width: 760px) {
  .userProfile {
    width: 90%;
    height: 60vh;
  }
}
.header {
  height: 80vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.header .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .header .container {
    width: 1100px;
  }
}
.header .head-content {
  color: #0b112f;
  display: inline-block;
}
.header .head-content h1 {
  color: #0b112f;
  padding: 0;
  display: inline-block;
}
.header .head-content h2 {
  font-size: 30px;
  margin-bottom: -10px;
}
.header .head-content p {
  font-size: 20px;
}
.header .head-content .head-btn {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
  flex-wrap: wrap;
}
.header .head-content .head-btn .btn1 a {
  background-color: #008cba;
  text-decoration: none;
  color: #fff;
  padding: 19px 39px 18px 39px;
  border: none;
  border-radius: 80px;
  font-size: 20px;
  font-weight: 600;
  margin: 0px 0;
  text-decoration: none;
}
.header .head-content .head-btn .btn1 a:hover {
  background-color: #076483;
}
.header .head-content .head-btn .btn2 a {
  background-color: inherit;
  color: #fff;
  padding: 19px 39px 18px 39px;
  border: none;
  border-radius: 80px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #008cba;
  text-decoration: none;
}
.header .head-content .head-btn .btn1 a:hover {
  background-color: #076483;
}
@media screen and (max-width: 350px) {
  .header .head-content .btn2 {
    margin-top: 30px;
  }
}
.header .owner-img {
  position: relative;
  margin-bottom: 80px;
}
.header .owner-img .slash {
  position: absolute;
  bottom: 50px;
  z-index: 1;
}
.header .owner-img .own {
  position: relative;
  z-index: 2;
}
.header .owner-img img {
  width: 600px;
}
@media screen and (max-width: 800px) {
  .header .owner-img {
    margin-bottom: 0;
  }
  .header .head-content {
    width: 90%;
  }
  .header .head-content h1 {
    font-size: 50px;
  }
  .header .head-content .head-btn .btn1 a,
  .header .head-content .head-btn .btn2 a {
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    height: 70vh;
  }
  .head-content {
    margin-top: 20px;
  }
}
.aboutMe .row .about-box {
  padding: 50px 50px 70px 50px;
}
.aboutMe .row .about-box .exp-box {
  display: flex;
}
.aboutMe .row .about-box .exp-box .exp-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutMe .row .about-box .exp-box .exp-icon i {
  border: 1px dotted #2980b9;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  color: #2980b9;
}
.aboutMe .row h2 {
  font-size: 20px;
  margin: 10px 0 20px 0;
  text-transform: capitalize;
}
.aboutMe .row .about-links {
  margin-top: 20px;
}
.aboutMe .row .about-links a {
  text-decoration: none;
  color: #2980b9;
  margin-right: 20px;
}
.aboutMe .row .about-links a i {
  font-size: 23px;
}
.aboutMe .row p {
  color: #444444;
}
.aboutMe .row tr {
  margin: 100px 0;
}
.aboutMe .row tr td {
  color: #212529;
}
.aboutMe .row .border-btm {
  border-bottom: 1px solid gainsboro;
  padding: 5px 0;
}

.sect-header {
  font-size: 30px;
  margin-bottom: 25px;
  font-family: "Poppins", sans-serif;
}

.resumeSection .grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.resumeSection .grid-row .grid-col {
  padding: 20px;
}
.resumeSection .grid-row .grid-col h4 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.resumeSection .grid-row .grid-col .border-btm {
  border-bottom: 1px solid gainsboro;
  padding: 10px 0;
}
.resumeSection .grid-row .grid-row2 {
  display: grid;
  grid-template-rows: auto;
  row-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.resumeSection .grid-row .grid-row2 .myProgress .myBar {
  height: 3px;
  margin: 5px 0;
  border-radius: 20px;
  background-color: #2980b9;
}
@media screen and (max-width: 700px) {
  .resumeSection .grid-row {
    grid-template-columns: auto;
  }
}

.hire {
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
}
.hire .hireBtn {
  background-color: #2980b9;
  width: 200px;
  padding: 8px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  margin-top: 15px;
}

.projects .proj-boxs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 2%;
}
.projects .proj-boxs .proj-box {
  border-radius: 16px;
  background-color: #fff;
}
.projects .proj-boxs .proj-box .proj-img {
  position: relative;
  width: 100%;
  height: 270px;
  border-radius: 16px 16px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .proj-boxs .proj-box .proj-img img {
  width: 100%;
}
.projects .proj-boxs .proj-box .proj-langs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 2%;
}
.projects .proj-boxs .proj-box .proj-langs .prog-lang {
  text-align: center;
  display: inline-block;
  font-size: 14px;
  padding: 0 10px;
}
.projects .proj-boxs .proj-box .proj-view {
  display: none;
}
.projects .proj-boxs .proj-box .proj-view a {
  text-decoration: none;
  padding: 10px 0;
  font-size: 17px;
  display: inline-block;
}
@media screen and (max-width: 950px) {
  .projects .proj-boxs {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 760px) {
  .projects .proj-boxs {
    grid-template-columns: 1fr;
  }
}
.projects .proj-box:hover .proj-view {
  display: block;
}
.projects .proj-1 .proj-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/ecommerce.png");
}
.projects .proj-2 .proj-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/devpulse.png");
}
.projects .proj-3 .proj-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/shaka.png");
}

.main-footer {
  background-color: #343a40;
  padding: 10px 50px 20px 50px;
  color: white;
}
.main-footer .fo-content div {
  padding-top: 15px;
}
.main-footer .fo-content .fo-name {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.main-footer .fo-content .fo-socialMedia a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}
.main-footer .fo-content .fo-socialMedia a i {
  font-size: 25px;
}

.sect-1 {
  margin: 50px 0;
}
.sect-1 .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .sect-1 .container {
    width: 1100px;
  }
}
.sect-1 .row {
  display: flex;
}
.sect-1 .row .col-1 {
  padding: 0 20px;
  text-align: center;
}
.sect-1 .row .col-1 h1 {
  color: #aba7a7;
  font-size: 150px;
  font-weight: 200;
}
.sect-1 .row .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sect-1 .row .col-2 .p1 {
  font-size: 40px;
  text-transform: uppercase;
}
.sect-1 .row .col-2 .p2 {
  font-size: 40px;
  text-transform: uppercase;
}
.sect-1 .row .col-2 .p2 .color {
  color: #008cba;
}
.sect-1 .row .col-2 .p3 {
  text-transform: uppercase;
  font-size: 20px;
  color: #aba7a7;
}
.sect-1 .row-1-2 {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}
.sect-1 .row-1-2 .col-2-1 {
  width: 50%;
  height: 350px;
}
.sect-1 .row-1-2 .col-2-1 .img {
  height: 100%;
}
.sect-1 .row-1-2 .col-2-1 .img img {
  width: 100%;
  height: 100%;
}
.sect-1 .row-1-2 .col-2-2 {
  width: 50%;
  height: 350px;
  background-color: #000;
  color: #fff;
}
.sect-1 .row-1-2 .col-2-2 .content h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 40px;
  margin: 50px 50px 20px 50px;
}
.sect-1 .row-1-2 .col-2-2 .content p {
  font-size: 20px;
  padding: 0 50px;
}
@media screen and (max-width: 800px) {
  .sect-1 .col-1 {
    display: none;
  }
  .sect-1 .row-1-2 {
    flex-direction: column;
  }
  .sect-1 .row-1-2 .col-2-1 {
    width: 100%;
  }
  .sect-1 .row-1-2 .col-2-2 {
    width: 100%;
  }
}

.sect-2 {
  margin: 50px 0;
}
.sect-2 .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .sect-2 .container {
    width: 1100px;
  }
}
.sect-2 .container .slider {
  position: relative;
}
.sect-2 .container #prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  color: #008cba;
  font-size: 45px;
  cursor: pointer;
}
.sect-2 .container #next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  color: #008cba;
  font-size: 45px;
}
.sect-2 .container #prev:hover {
  color: #0b4f66;
}
.sect-2 .container #next:hover {
  color: #0b4f66;
}
.sect-2 .container .row {
  display: flex;
}
.sect-2 .container .row .col-1 {
  padding: 0 20px;
  text-align: center;
}
.sect-2 .container .row .col-1 h1 {
  color: #aba7a7;
  font-size: 150px;
  font-weight: 200;
}
.sect-2 .container .row .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sect-2 .container .row .col-2 .p1 {
  font-size: 40px;
  text-transform: uppercase;
}
.sect-2 .container .row .col-2 .p2 {
  font-size: 40px;
  text-transform: uppercase;
}
.sect-2 .container .row .col-2 .p2 .color {
  color: #008cba;
}
.sect-2 .container .row .col-2 .p3 {
  text-transform: uppercase;
  font-size: 20px;
  color: #aba7a7;
}
.sect-2 .container .row-2-1 {
  justify-content: space-around;
}
.sect-2 .container .row-2-1 .box {
  margin: 30px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sect-2 .container .row-2-1 .box .box-head {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}
.sect-2 .container .row-2-1 .box .box-body {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
}
.sect-2 .container .row-2-1 .box .box-body img {
  width: 100%;
  height: 100%;
}
.sect-2 .container .row-2-1 .box .box-footer p {
  font-size: 20px;
  text-align: center;
  padding: 0 5px;
}
.sect-2 .container .row-2-1 .box .box-footer p a {
  color: #008cba;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  .sect-2 .hide {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .sect-2 .row-2-1 {
    display: flex;
    flex-direction: row;
  }
  .sect-2 .row-2-1 .box {
    width: 25%;
  }
}

/*                Testimonial           */
.testimonial {
  margin: 100px 0;
}
.testimonial .backg {
  height: auto;
  padding-bottom: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgs/test-back.jpg");
  background-size: cover;
  position: relative;
}
.testimonial .backg #prev {
  position: absolute;
  top: 50%;
  left: 5%;
  color: #008cba;
  font-size: 45px;
  cursor: pointer;
  z-index: 2;
}
.testimonial .backg #next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 5%;
  color: #008cba;
  font-size: 45px;
  z-index: 2;
}
.testimonial .backg #prev:hover {
  color: #0b4f66;
}
.testimonial .backg #next:hover {
  color: #0b4f66;
}
.testimonial .backg .test-head {
  padding: 20px 0;
  text-align: center;
  color: #fff;
}
.testimonial .backg .test-head p {
  font-size: 25px;
}
.testimonial .backg .test-head h2 {
  font-size: 35px;
}
.testimonial .backg .test-slide {
  width: 100%;
  height: 100%;
}
.testimonial .backg .test-slide .slide .user-prf {
  width: 100px;
  margin: 0 auto;
  text-align: center;
}
.testimonial .backg .test-slide .slide .user-prf .user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial .backg .test-slide .slide .user-prf .user-img img {
  width: 100%;
  height: 100%;
}
.testimonial .backg .test-slide .slide .user-prf .user-name {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.testimonial .backg .test-slide .slide .user-msg {
  width: 50%;
  margin: 10px auto;
  background-color: #0b112f;
  color: white;
  text-align: center;
  padding: 20px;
}
.testimonial .backg .test-slide .slide .user-msg .color {
  color: #008cba;
  font-size: 30px;
}

.footer {
  background-color: #0b112f;
  padding: 50px 0;
}
.footer .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .footer .container {
    width: 1100px;
  }
}
.footer .container .row {
  display: flex;
}
.footer .container .row .log {
  border: 1px solid #0b112f;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  border: 1px solid white;
}
.footer .container .row .log img {
  width: 50px;
}
.footer .container .row .log .log-name {
  font-weight: bold;
  margin: 0 7px;
  font-size: 20px;
  color: #212529;
}
.footer .container .row .col-2 {
  margin-top: 10px;
}
.footer .container .row .col-2 h1 {
  color: #fff;
  font-size: medium;
}
.footer .container .row .col-2 .row-2 {
  display: flex;
}
.footer .container .row .col-2 .row-2 .col-1 ul,
.footer .container .row .col-2 .row-2 .col-2 ul {
  list-style: none;
}
.footer .container .row .col-2 .row-2 .col-1 ul li,
.footer .container .row .col-2 .row-2 .col-2 ul li {
  margin: 5px 20px;
}
.footer .container .row .col-2 .row-2 .col-1 ul li a,
.footer .container .row .col-2 .row-2 .col-2 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: small;
}
.footer .container .row .col-3 {
  margin: 10px;
}
.footer .container .row .col-3 h1 {
  color: #fff;
  font-size: medium;
  text-transform: uppercase;
}
.footer .container .row .col-3 ul {
  list-style: none;
}
.footer .container .row .col-3 ul li {
  margin: 5px 20px;
}
.footer .container .row .col-3 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: small;
}
.footer .container .row .col-4 {
  margin: 10px 30px;
}
.footer .container .row .col-4 h1 {
  color: #fff;
  font-size: medium;
  text-transform: uppercase;
}
.footer .container .row .col-4 ul {
  list-style: none;
  margin-top: 20px;
}
.footer .container .row .col-4 ul li {
  margin: 0 5px;
  width: 38px;
  height: 45px;
  display: inline-block;
}
.footer .container .row .col-4 ul li img {
  width: 100%;
  height: 100%;
}
.footer .container .row .col-5 .box {
  background-color: #181942;
  color: white;
  padding: 20px 30px;
  width: 400px;
}
.footer .container .row .col-5 .box h1 {
  margin: 10px 0;
}
.footer .container .row .col-5 .box .input-control {
  margin: 15px 0;
  position: relative;
}
.footer .container .row .col-5 .box .input-control input[type=text] {
  border-radius: 25px;
  height: 42px;
  padding: 0 115px 0 20px;
  width: 100%;
  color: white;
  background-color: #0b112f;
}
@media screen and (max-width: 900px) {
  .footer .row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .box {
    width: auto;
  }
}

.main {
  background-color: #e7e6e6;
}
.main .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .main .container {
    width: 1100px;
  }
}
.main .container h1 {
  font-size: 55px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.owner {
  margin: 100px 0;
}
.owner .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .owner .container {
    width: 1100px;
  }
}
.owner .container .row {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.owner .container .row .own-detail {
  width: 57%;
  padding: 0 3%;
}
.owner .container .row .own-detail h1 {
  color: #0b112f;
  font-size: 55px;
  text-transform: capitalize;
}
.owner .container .row .own-detail p {
  font-size: 30px;
}
.owner .container .row .own-pic {
  width: 40%;
}
.owner .container .row .own-pic img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .owner .container .own-pic {
    width: 40%;
  }
}
@media screen and (max-width: 900px) {
  .owner .container .row {
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
  }
  .owner .container .row .own-detail {
    width: 90%;
  }
  .owner .container .row .own-pic {
    width: auto;
    margin: 50px 0;
  }
}

.our-team {
  margin: 50px 0;
}
.our-team .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .our-team .container {
    width: 1100px;
  }
}
.our-team .container .head h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
}
.our-team .container .head h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.our-team .container .team-row {
  display: flex;
  justify-content: space-around;
}
.our-team .container .team-row .box {
  margin: 30px 0;
  width: 300px;
  height: 590px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.our-team .container .team-row .box .box-head img {
  width: 100%;
  height: 300px;
}
.our-team .container .team-row .box .box-body {
  margin: 10px 30px;
}
.our-team .container .team-row .box .box-body .name {
  font-size: 35px;
}
.our-team .container .team-row .box .box-body .resp {
  font-size: 25px;
  font-weight: 100;
  color: gray;
}
.our-team .container .team-row .box .box-body .detl {
  font-size: 15px;
}
.our-team .container .team-row .box .box-body .addr {
  margin: 15px 0;
}
.our-team .container .team-row .box .box-footer a {
  display: block;
  text-decoration: none;
  background-color: #008cba;
  padding: 8px 30px;
  color: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}
@media (max-width: 900px) {
  .our-team .team-row {
    flex-wrap: wrap;
  }
}

.contact .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .contact .container {
    width: 1100px;
  }
}
.contact .container .row {
  display: flex;
}
.contact .container .row .info {
  border-radius: 16px 0 0 16px;
  background-color: #343a40;
  padding: 30px;
  width: 50%;
}
.contact .container .row .info .row-info {
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.contact .container .row .info .row-info .img {
  margin-right: 10px;
}
.contact .container .row .info .row-info .img i {
  font-size: 40px;
  color: #fff;
}
.contact .container .row .info .row-info .text {
  padding: 0;
  color: #fff;
}
.contact .container .row .info .row-info .text p:first-child {
  font-weight: bold;
}
.contact .container .row .info .row-info .text p:last-child {
  color: #fff;
}
@media screen and (max-width: 650px) {
  .contact .container .row .info {
    padding: 20px;
    border-radius: 16px 16px 0 0;
  }
}
.contact .container .row .form {
  width: 50%;
  background-color: #f1f2f6;
  border-radius: 0 16px 16px 0;
}
.contact .container .row .form form {
  margin: 30px;
}
.contact .container .row .form form input[type=text],
.contact .container .row .form form input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 3px;
}
.contact .container .row .form form textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #f8f8f8;
}
@media screen and (max-width: 650px) {
  .contact .container .row .form {
    border-radius: 0 0 16px 16px;
  }
}
@media screen and (max-width: 550px) {
  .contact .container .row {
    flex-direction: column;
  }
  .contact .container .row .info {
    width: 100%;
  }
  .contact .container .row .form {
    width: 100%;
  }
}

.skills {
  margin: 100px 0;
}
.skills .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .skills .container {
    width: 1100px;
  }
}
.skills .container .head {
  margin: 20px auto;
  text-align: center;
}
.skills .container .head h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
}
.skills .container .head h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.skills .container .part-1 {
  margin: 40px 0;
}
.skills .container .part-1 .heading h1 {
  font-size: 45px;
}
.skills .container .part-1 .heading h1::after {
  content: "";
  display: block;
  height: 5px;
  width: 120px;
  border-radius: 10px;
  background-color: #008cba;
}
.skills .container .part-1 .skill-row {
  margin: 50px;
  display: flex;
  justify-content: center;
}
.skills .container .part-1 .skill-row .skill-col {
  margin: 30px 10px;
  position: relative;
  width: 170px;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skills .container .part-1 .skill-row .skill-col .skill-head {
  position: absolute;
  top: -25%;
  left: 23%;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  background-color: #fff;
}
.skills .container .part-1 .skill-row .skill-col .skill-head img {
  width: 100%;
  height: 100%;
}
.skills .container .part-1 .skill-row .skill-col .skill-content {
  text-align: center;
  width: 100px;
  margin: 50% auto;
  transform: translateY(-50%);
}
.skills .container .backend {
  background-color: #f5f5f5;
  padding: 50px;
}
@media screen and (min-width: 900px) {
  .skills .head {
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  .skills .head {
    width: 100%;
  }
  .skills .skill-row {
    flex-wrap: wrap;
  }
  .skills .skill-row .skill-col {
    margin: 50px 0;
  }
}

.loader {
  position: fixed;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 88;
  display: block;
}

.click_loader {
  position: fixed;
  opacity: 0.8;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 88;
  display: none;
}
.click_loader img {
  transform: translate(-30%, -10%);
}

.click_loader.show {
  display: block;
}

.click_loader.hide {
  display: none;
}

.viewAll_btn {
  display: grid;
  place-content: center;
}
.viewAll_btn a {
  display: block;
  text-decoration: none;
}

.articles {
  margin: 50px 0;
}
.articles .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .articles .container {
    width: 1100px;
  }
}
.articles .choose {
  display: flex;
}
.articles .choose ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.articles .choose ul a {
  display: block;
  color: #222;
  text-decoration: none;
  padding: 10px 30px;
}
.articles .choose ul .active {
  border: 1px solid gray;
  border-radius: 80px;
}
.articles .choose ul a:hover {
  background-color: #f5f5f5;
  border-radius: 80px;
}
@media screen and (max-width: 700px) {
  .articles .choose {
    flex-direction: column;
  }
}
.articles .art-item {
  border-top: 1px solid #e7e6e6;
  margin: 30px 0;
  padding: 30px 0;
}
.articles .art-item .row {
  display: flex;
  align-items: center;
  width: 85%;
}
.articles .art-item .row .col-img {
  margin-bottom: 30px;
}
.articles .art-item .row .col-img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.articles .art-item .row .col-content {
  flex: 2;
  padding: 0 25px;
}
.articles .art-item .row .col-content .head h1 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin: 0px 0;
}
.articles .art-item .row .col-content .body p {
  margin-bottom: 10px;
}
.articles .art-item .row .col-content .body p a {
  text-decoration: none;
  color: #008cba;
}
.articles .art-item .row .col-content .art-footer {
  /*
                display: flex;
                margin: 20px 0;

                .comment{
                    margin: 0 20px;
                    a{
                        align-items: center;
                        display: flex;
                        color: black;
                        text-decoration: none;
                        i{
                            font-size: 18px;
                        }
                        p{
                            background-color: $lightBlue;
                            color: $white;
                            padding: 5px;
                            border-radius: 50%;
                            margin:0 5px;
                        }
                    }
                }
                .like{
                    a{
                        align-items: center;
                        display: flex;
                        color: black;
                        text-decoration: none;
                        i{
                            font-size: 18px;
                        }
                        p{
                            background-color: $lightBlue;
                            color: $white;
                            padding: 5px;
                            border-radius: 50%;
                            margin:0 5px;
                        }
                    }
                }
                */
}
.articles .art-item .row .col-content .art-footer a {
  width: 120px;
  text-align: center;
  display: block;
  background-color: #008cba;
  color: #fff;
  text-decoration: none;
  padding: 7px 20px;
  border-radius: 4px;
  margin-top: 20px;
}
@media screen and (max-width: 900px) {
  .articles .row {
    flex-direction: column;
    justify-content: center;
  }
  .articles .row .col-img {
    width: 100%;
  }
}
@media screen and (min-width: 901px) {
  .articles .art-item .row .col-img {
    width: 28%;
  }
}

.blog {
  display: flex;
}
.blog .blog-part {
  width: 75%;
}
.blog .blog-part .article-desc {
  margin: 100px 0;
}
.blog .blog-part .article-desc .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .blog .blog-part .article-desc .container {
    width: 1100px;
  }
}
.blog .blog-part .article-desc .container .head {
  width: 80%;
  margin: 0 auto;
}
.blog .blog-part .article-desc .container .head h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}
.blog .blog-part .article-desc .container .head p {
  text-align: center;
  color: #0b112f;
}
@media screen and (max-width: 800px) {
  .blog .blog-part .article-desc .container .head h1 {
    font-size: 35px;
  }
}
.blog .blog-part .article-desc .container .body {
  margin: 30px auto;
}
.blog .blog-part .article-desc .container .body .body-img {
  margin: 50px auto;
  height: 75vh;
  width: 80%;
}
.blog .blog-part .article-desc .container .body .body-img img {
  width: 100%;
  height: 100%;
}
.blog .blog-part .article-desc .container .body h1 {
  margin: 50px 0;
}
.blog .blog-part .article-desc .container .body ul {
  margin: 10px 50px;
}
.blog .blog-part .article-desc .container .body .body-content {
  font-size: 18px;
}
.blog .blog-part .article-desc .container .body .body-content h1,
.blog .blog-part .article-desc .container .body h2,
.blog .blog-part .article-desc .container .body h3,
.blog .blog-part .article-desc .container .body h4,
.blog .blog-part .article-desc .container .body h5,
.blog .blog-part .article-desc .container .body h6 {
  margin: 50px 0 20px 0px;
}
@media screen and (max-width: 800px) {
  .blog .blog-part .article-desc .container .body .body-img {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .blog .blog-part {
    width: 100%;
  }
}
.blog .public-part {
  width: 25%;
  padding: 100px 0;
}
.blog .public-part h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.blog .public-part #recentBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog .public-part #recentBlog .blog_col {
  margin: 20px 0;
  width: 200px;
}
.blog .public-part #recentBlog .blog_col a {
  text-decoration: none;
}
.blog .public-part #recentBlog .blog_col .blogImg {
  width: 100%;
  height: 200px;
}
.blog .public-part #recentBlog .blog_col .blogImg img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 850px) {
  .blog .public-part #recentBlog .blog_col .blogImg {
    width: 150px;
    height: 150px;
  }
}
.blog .public-part #recentBlog .blog_col:not(:last-child) {
  border-bottom: 1px solid #aba7a7;
}
@media screen and (max-width: 700px) {
  .blog .public-part #recentBlog {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 700px) {
  .blog .public-part {
    width: 100%;
    padding: 50px 0;
  }
}

@media screen and (max-width: 700px) {
  .blog {
    flex-direction: column;
  }
}
.subs {
  background-image: linear-gradient(to right, #008cba, #0b112f);
  width: 100%;
  height: auto;
  margin: 50px 0;
}
.subs .box {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}
.subs .box h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 45px;
}
.subs .box p {
  color: #fff;
  text-transform: capitalize;
  font-size: 25px;
}
.subs .box .input-control {
  margin: 15px 0;
  position: relative;
}
.subs .box .input-control input[type=text] {
  border-radius: 25px;
  height: 50px;
  border: none;
  padding: 0 20px;
  width: 100%;
  background-color: #fff;
}
.subs .box .input-control input[type=submit] {
  position: absolute;
  top: 4px;
  right: 5px;
  border-radius: 25px;
  height: 40px;
  border: none;
  padding: 0 30px;
  color: white;
  background-color: #008cba;
  font-size: 20px;
}
@media screen and (max-width: 900px) {
  .subs .box h1 {
    font-size: 30px;
  }
  .subs .box p {
    font-size: 16px;
  }
  .subs .box .box-form input[type=submit] {
    font-size: 16px;
  }
}

.comments .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .comments .container {
    width: 1100px;
  }
}
.comments .container h1 {
  text-align: center;
  font-size: 18px;
}
.comments .container .art-footer {
  display: flex;
  margin: 20px 0;
}
.comments .container .art-footer .comment {
  margin: 0 20px;
}
.comments .container .art-footer .comment a {
  align-items: center;
  display: flex;
  color: black;
  text-decoration: none;
}
.comments .container .art-footer .comment a i {
  font-size: 30px;
}
.comments .container .art-footer .comment a p {
  background-color: #008cba;
  color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.comments .container .art-footer .like a {
  align-items: center;
  display: flex;
  color: black;
  text-decoration: none;
}
.comments .container .art-footer .like a i {
  font-size: 30px;
}
.comments .container .art-footer .like a p,
.comments .container .art-footer .like a #likeQty {
  background-color: #008cba;
  color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.comments .container .art-footer .like a #likeQty {
  border: none;
}
.comments .container .user-comm {
  border-top: 1px solid #e7e6e6;
  margin: 30px 0;
  padding: 30px 0;
}
.comments .container .user-comm .row {
  display: flex;
  background-color: #e7e6e6;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.comments .container .user-comm .row .col-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.comments .container .user-comm .row .col-img img {
  width: 100%;
  height: 100%;
}
.comments .container .user-comm .row .col-content {
  flex: 2;
  padding: 0 25px;
}
.comments .container .user-comm .row .col-content .head p {
  font-size: 10px;
}
.comments .leave-comment .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .comments .leave-comment .container {
    width: 1100px;
  }
}
.comments .leave-comment .container .heading h2::after {
  content: "";
  display: block;
  height: 5px;
  width: 120px;
  border-radius: 10px;
  background-color: #008cba;
}
.comments .leave-comment .container .form {
  width: 90%;
  margin: 30px auto;
  background-color: #f5f5f5;
  padding: 10px 0;
}
.comments .leave-comment .container .form form {
  margin: 30px;
}
.comments .leave-comment .container .form form input[type=text],
.comments .leave-comment .container .form form input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 3px;
}
.comments .leave-comment .container .form form textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
}
.comments .leave-comment .container .form form input[type=submit] {
  border-radius: 25px;
  height: 35px;
  width: 70%;
  margin: 10px 60px;
  border: none;
  padding: 0 30px;
  color: white;
  background-color: #008cba;
}
@media screen and (min-width: 900px) {
  .comments {
    /* .form{
            width: 50%;
        } */
  }
  .comments .col-img {
    width: 8%;
  }
}

/*                        login page                    */
.login {
  margin: 40px 0;
}
.login .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .login .container {
    width: 1100px;
  }
}
.login .container .row {
  display: flex;
  margin: 70px auto;
  width: 50%;
}
.login .container .row .info {
  background-color: #2980b9;
  border-radius: 20px 0 0 20px;
  width: 5%;
  display: block;
}
.login .container .row .form {
  padding: 40px;
  width: 95%;
  background-color: #fff;
  border-radius: 0 20px 20px 0;
}
.login .container .row .form h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
.login .container .row .form form {
  width: 100%;
}
.login .container .row .form form label {
  margin: 15px 0 5px 0;
}
.login .container .row .form form input[type=text],
.login .container .row .form form input[type=password] {
  width: 100%;
  padding: 7px 10px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 6px;
  color: black;
}
.login .container .row .form form .loginbtn,
.login .container .row .form form .signupBtn {
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
  border: none;
  padding: 7px 0px;
  color: white;
  background-color: #2980b9;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.login .container .row .form form .Rem-forg {
  margin-top: 15px;
}
@media screen and (max-width: 800px) {
  .login .container .row .form form input[type=text],
  .login .container .row .form form input[type=password] {
    font-size: 16px;
  }
  .login .container .row .form form .login {
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  .login .container .row .form {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .login .container .row {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .login input[type=text],
  .login input[type=password] {
    font-size: 16px;
  }
}

.admin .leftSide {
  width: 20%;
  height: 100%;
  background-color: #0b112f;
  color: white;
  position: fixed;
}
.admin .leftSide .body {
  height: 100%;
  background-color: #181942;
  padding: 0px 0;
}
.admin .leftSide .body .head {
  display: flex;
  justify-content: space-around;
  border-right: 1px solid gray;
  align-items: center;
  background-color: #0b112f;
  padding: 12.5px 0;
}
.admin .leftSide .body .head .log {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 150px;
}
.admin .leftSide .body .head .log img {
  width: 50px;
}
.admin .leftSide .body .head .log .log-name {
  font-weight: bold;
  margin: 0 7px;
  color: #212529;
  font-size: 18px;
}
.admin .leftSide .body .head .log .log-name a {
  color: #212529;
  text-decoration: none;
}
.admin .leftSide .body .head .menu {
  cursor: pointer;
}
.admin .leftSide .body .head .menu i {
  color: #212529;
  font-size: 25px;
  font-weight: bold;
}
.admin .leftSide .body .first h3 {
  color: #008cba;
  text-transform: uppercase;
  margin: 10px;
}
.admin .leftSide .body .second {
  margin: 0px 40px;
}
.admin .leftSide .body .second .links {
  margin: 0 30px;
}
.admin .leftSide .body .second .links ul {
  list-style: none;
}
.admin .leftSide .body .second .links ul a {
  display: block;
  margin: 10px 0;
  color: white;
  text-decoration: none;
}
.admin .leftSide .logout {
  display: block;
  background-color: #a81010;
  color: #fff;
  padding: 7px 40px;
  font-weight: bold;
  width: 70%;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  bottom: 30px;
  left: 13%;
  margin: 0 auto;
}
.admin .rightSide {
  width: 80%;
  margin-left: 20%;
}
.admin .rightSide .head {
  position: sticky;
  top: 0;
  background-color: #0b112f;
  padding: 0 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 33;
}
.admin .rightSide .head .head-2 {
  display: flex;
  align-items: center;
  visibility: hidden;
}
.admin .rightSide .head .head-2 .log {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  border: white;
}
.admin .rightSide .head .head-2 .log img {
  width: 50px;
}
.admin .rightSide .head .head-2 .log .log-name {
  font-weight: bold;
  margin: 0 7px;
  color: #fff;
  font-size: 20px;
}
.admin .rightSide .head .head-2 .menu {
  cursor: pointer;
}
.admin .rightSide .head .head-2 .menu i {
  color: #343a40;
  font-size: 35px;
  font-weight: bold;
}
.admin .rightSide .head .search {
  position: relative;
  width: 250px;
  height: 60px;
}
.admin .rightSide .head .search .input {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.admin .rightSide .head .search .input input {
  width: 100%;
  height: 100%;
  display: block;
  padding: 15px 50px 15px 20px;
  border-radius: 2px;
}
.admin .rightSide .head .search .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #008cba;
  padding: 12.5px;
  z-index: 1;
}
.admin .rightSide .head .user {
  display: flex;
  align-items: center;
}
.admin .rightSide .head .user .user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 5px;
}
.admin .rightSide .head .user .user-img img {
  width: 100%;
  height: 100%;
}
.admin .rightSide .head::after {
  content: "";
  display: block;
  clear: both;
}
.admin .rightSide .body .review {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}
.admin .rightSide .body .review .box {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  width: 300px;
  align-items: center;
  margin: 30px 0;
}
.admin .rightSide .body .review .box .box-head {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.admin .rightSide .body .review .box .box-head img {
  width: 100%;
  height: 100%;
}
.admin .rightSide .body .review .box .box-body {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0 25px;
}
.admin .rightSide .body .review .box .box-body .num {
  font-weight: bold;
  font-size: 25px;
  color: #0b112f;
}
.admin .rightSide .body .review .box .box-body .txt {
  font-size: 20px;
  color: gray;
  text-transform: uppercase;
}
.admin .rightSide .body .articles {
  background-color: #f5f5f5;
  padding: 50px 0;
}
.admin .rightSide .body .table {
  margin: 30px 0;
}
.admin .rightSide .body .table table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}
.admin .rightSide .body .table table tr th {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  background-color: #008cba;
  color: white;
}
.admin .rightSide .body .table table tr td {
  border: 1px solid #ddd;
  padding: 8px;
}
.admin .rightSide .body .table table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.admin .rightSide .body .table table tr:hover {
  background-color: #ddd;
}
.admin .rightSide .body .table .approve a {
  background-color: #008cba;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}
.admin .rightSide .body .table .delete button {
  background-color: #a81010;
  color: #fff;
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  border-radius: 3px;
}
@media screen and (max-width: 1000px) {
  .admin .leftSide .body .head .menu i {
    font-size: 30px;
  }
}
@media screen and (max-width: 900px) {
  .admin .leftSide {
    left: -20%;
    z-index: 1;
  }
  .admin .show {
    left: 0;
    width: 200px;
  }
  .admin .rightSide {
    width: 100%;
    margin-left: 0;
  }
  .admin .rightSide .head .head-2 {
    visibility: visible;
    padding: 12px 0;
  }
  .admin .rightSide .head .search {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .admin .review {
    flex-wrap: wrap;
  }
}

.body .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .body .container {
    width: 1100px;
  }
}
.body .container .form {
  background-color: #f5f5f5;
  padding: 0 30px;
  margin: 20px auto;
}
.body .container .form form label {
  display: block;
  padding: 10px 0;
}
.body .container .form form input[type=text],
.body .container .form form input[type=email],
.body .container .form form input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 0 0;
  box-sizing: border-box;
  border-radius: 5px;
}
.body .container .form form textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
}
.body .container .form form input[type=submit] {
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  margin: 30px 0;
  border: none;
  padding: 10px 50px;
  color: white;
  background-color: #008cba;
}

.port .container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1500px) {
  .port .container {
    width: 1100px;
  }
}
.port .container .heading h1 {
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  margin: 50px 0;
}
.port .container .heading h1::after {
  content: "";
  display: block;
  height: 5px;
  width: 120px;
  border-radius: 10px;
  background-color: #008cba;
}
.port .container .head {
  text-align: center;
  margin: 60px 0;
}
.port .container .head h1 {
  font-size: 35px;
}
.port .container .head p {
  font-size: 18px;
}
.port .container .slide-container {
  position: relative;
  width: 90%;
  margin: 75px auto;
  padding: 50px;
}
.port .container .slide-container #prev {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 0%;
  color: #008cba;
  font-size: 45px;
  cursor: pointer;
}
.port .container .slide-container #next {
  position: absolute;
  cursor: pointer;
  top: 40%;
  transform: translateY(-50%);
  right: 0%;
  color: #008cba;
  font-size: 45px;
}
.port .container .slide-container #prev:hover {
  color: #0b4f66;
}
.port .container .slide-container #next:hover {
  color: #0b4f66;
}
.port .container .row {
  display: flex;
  margin-bottom: 30px;
}
.port .container .row .col {
  margin: 40px 30px;
}
.port .container .row .col .box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  height: 270px;
  padding: 0 10px;
}
.port .container .row .col .box .top-num {
  position: absolute;
  top: -16%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
  text-align: center;
}
.port .container .row .col .box .middle {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.port .container .row .col .box .middle .img {
  width: 90px;
  margin: 0 auto;
  height: 90px;
}
.port .container .row .col .box .middle .img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .port .row {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .port .col {
    width: 33%;
  }
}

.rightSide {
  width: 100%;
}
.rightSide .comment .table {
  overflow-x: auto;
}
.rightSide .comment .table .pedding a {
  display: block;
  background-color: #a81010;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
  border-radius: 80px;
  width: 100%;
}
.rightSide .comment .table .approve a {
  background-color: #008cba;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
  border-radius: 80px;
  width: 100%;
}
.rightSide .comment .table .dropdown {
  position: relative;
  width: 120px;
}
.rightSide .comment .table .dropdown .drop-btn {
  background-color: #008cba;
  text-decoration: none;
  color: #fff;
  padding: 7px 40px;
  border: none;
  color: white;
  font-weight: bold;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
.rightSide .comment .table .dropdown .drop-btn:hover {
  background-color: #0a6685;
}
.rightSide .comment .table .dropdown .drop-content {
  min-width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 0;
  display: none;
  transition: all 0.5s;
  z-index: 1;
}
.rightSide .comment .table .dropdown .drop-content button {
  width: 100%;
  background-color: white;
  border: none;
  padding: 7px 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}
.rightSide .comment .table .dropdown .drop-content button:hover {
  background-color: #f5f5f5;
}
.rightSide .comment .table .dropdown:hover .drop-content {
  display: block;
}

.adminForm {
  width: 50%;
}/*# sourceMappingURL=style.css.map */